.ns-root,
:root {
  --light-color-one: #ff5576;
  --light-color-two: #fafafa;
  --light-color-three: #e7e7e7;
  --light-color-four: #eee;
  --light-color-fice: #fff;

  --my-dark-color-one: #252a2e;
  --my-dark-color-two: #3a3a3a;
  --my-dark-color-three: #444;
  --my-dark-color-four: #555;
  --my-dark-color-five: #aaa;
  --my-dark-color-six: #bbb;
}